@model Codecamp.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SessionId" />
            <input type="hidden" asp-for="TrackId" />
            <input type="hidden" asp-for="TimeslotId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

