@using Microsoft.AspNetCore.Identity
@using Codecamp.BusinessLogic
@inject SignInManager<CodecampUser> SignInManager
@inject UserManager<CodecampUser> UserManager
@inject EventBusinessLogic _eventBL

@{ 
    var theEvent = await _eventBL.GetActiveEvent();
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (theEvent != null && theEvent.IsSpeakerRegistrationOpen)
        {
            // Only show speaker registration when speaker registration is open
            <li><a asp-area="Identity" asp-page="/Account/RegisterSpeaker">Register as a Speaker</a></li>
        }
        @if (theEvent != null && theEvent.IsAttendeeRegistrationOpen)
        {
            // Only show attendee registration when attendee registration is open
            <li><a asp-area="Identity" asp-page="/Account/RegisterAttendee">Register as an Attendee</a></li>
        }
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
