@model Codecamp.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CodecampUserId" />
            <input type="hidden" asp-for="SpeakerId" />

            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <input asp-for="IsApproved" type="checkbox" class="medium-checkbox" />
                    <label asp-for="IsApproved"></label>
                </div>
                <hr />
            }
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <div class="input-group">
                    <img style="max-width: 150px; max-height: 150px;"
                         class="speakerImage"
                         id="@(string.Format("{0}", Model.SpeakerId))"
                         src=@("/images/default_user_icon.jpg")
                         alt="@(string.Format("{0}", Model.FullName))" />
                </div>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea asp-for="Bio" class="form-control"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogUrl" class="control-label"></label>
                <input asp-for="BlogUrl" class="form-control" />
                <span asp-validation-for="BlogUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeographicLocation"></label>
                <input asp-for="GeographicLocation" class="form-control" />
                <span asp-validation-for="GeographicLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterHandle"></label>
                <input asp-for="TwitterHandle" class="form-control" />
                <span asp-validation-for="TwitterHandle" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LinkedIn"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                    <input asp-for="IsVolunteer" type="checkbox" class="medium-checkbox" />
                    <label asp-for="IsVolunteer"></label>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <input asp-for="IsMvp" type="checkbox" class="medium-checkbox" />
                <label asp-for="IsMvp"></label>
            </div>
            <div class="form-group">
                <label asp-for="NoteToOrganizers" class="control-label"></label>
                <input asp-for="NoteToOrganizers" class="form-control" />
                <span asp-validation-for="NoteToOrganizers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="bottom-navigation">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.speakerImage').each(function () {
                setSpeakerImage(this, this.id);
            });
        });
    </script>

}
