@{
    ViewData["Title"] = "Location";
}
<h2>@ViewData["Title"]</h2>

<strong>Event Address:</strong>
<p>
    Seminole State College - University Partnership Building<br />
    100 Weldon Blvd<br />
    Sanford, FL 32773
</p>

<a href="~/images/SSCDirections.PNG" target="_blank"><img style="max-width: 300px" src="~/images/SSCDirections.PNG" /></a>