@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Please email board(at)onetug.org and provide details of the action you were performing when this happened
</p>
<p>
<strong>OR</strong>
</p>
<p>
    Fork this code from our <a href="https://github.com/onetug/Codecampster" target="_blank">GitHub repo</a> and send us a fix. 
</p>