@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">March 30th 2020</h1>
                <p class="lead">Seminole State College</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">What is Orlando Code Camp?</h2>
        <p>Orlando Codecamp is a free, one day learning event for programming professionals and students with a focus on coding, databases and related technologies, concepts and practices. This is a "grass roots" mini application platform developer conferences, free of charge to attendees and open to presenters of all stripes and experience.</p>

        <h2 class="font-weight-light">How can I help?</h2>
        <p>Orlando Codecamp is a volunteer-organized event and we could use your help! Please visit our <a href="http://bit.ly/OccVolunteer2020" target="_blank">signup list</a> for available volunteer opportunities the day of the event.</p>

        <h2 class="font-weight-light">Interested in Sponsorship Opportunities?</h2>
        <p>We can't put on Orlando CodeCamp without the financial help of our sponsors. If you or your company can help us in the mission of providing a great event for local software developers please checkout our sponsorship information and <a href="mailto:board@onetug.org">get in touch with us</a>.</p>

        <h2 class="font-weight-light">How can I speak?</h2>
        <p>We are looking for speakers who have a passion for a topic and want to share that with the community. This is a great opportunity for someone who has always wanted to try technical speaking to come out and present to a friendly audience of your peers. <a href="https://sessionize.com/orlando-codecamp-tech-conf-2020/" target="_blank">Submit one or more sessions here</a>. Session submission ends on February 17th, 2020 so that we can review the submissions and select sessions for the final agenda. When selecting sessions we pick based on what we believe attendees will appreciate the most. </p>

        <h2 class="font-weight-light">Location</h2>
        <p>
            100 Weldon Blvd Sanford, FL 32773
            Sanford, United States
        </p>
    </div>
</section>