@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-25">
        <div class="row h-25 align-items-center">
            <div class="col-12 text-center">
                &nbsp;
            </div>
        </div>
    </div>
</header>
<section class="py-2">
    <div class="container">
        <p class="lead" style="text-align:center">Orlando Codecamp &amp; Tech Conference 2020</p>
        <p class="lead" style="text-align:center">March 28th 2020 at Seminole State College, Sanford, FL</p>
        <p class="lead" style="text-align:center"><strong>Attendees signup opens March 1st 2020</strong></p>
    </div>
    <div class="container">
        <img src="/img/sponsors/SeminoleState.png" style="height: 50px;">
        <img src="/img/sponsors/Onetug.png" style="height: 50px;">
        <img src="/img/sponsors/NewSignature.png" style="height: 50px;">
        <img src="/img/sponsors/Cybermedics.png" style="height: 50px;">
    </div>
</section>
<!-- Page Content -->
<section class="py-2">
    <div class="container">
        <h2 class="font-weight-light">What is Orlando Codecamp?</h2>
        <p>Orlando Codecamp is a free, one day learning event for programming professionals and students with a focus on coding, databases and related technologies, concepts and practices. This is a "grass roots" mini application platform developer conferences, free of charge to attendees and open to presenters of all stripes and experience.</p>

        <h2 class="font-weight-light">How can I help?</h2>
        <p>Orlando Codecamp is a volunteer-organized event and we could use your help! Please visit our <a href="http://bit.ly/OccVolunteer2020" target="_blank">signup list</a> for available volunteer opportunities the day of the event.</p>

        <h2 class="font-weight-light">Interested in Sponsorship Opportunities?</h2>
        <p>We can't put on Orlando CodeCamp without the financial help of our sponsors. If you or your company can help us in the mission of providing a great event for local software developers please checkout our sponsorship information and <a href="mailto:board@onetug.org">get in touch with us</a>.</p>

        <h2 class="font-weight-light">Location</h2>
        <p>
            100 Weldon Blvd Sanford, FL 32773
            Sanford, United States
        </p>
    </div>
</section>

<section class="py-2">
    <div class="container">
        &nbsp;
    </div>
</section>