@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "Shared/PageLayout";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </main>
</div>
