@page
@model CodeCampster.Web.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
    Layout = null;
}
<a href='javascript:history.go(-1)'>Back to Main Site</a>
<div style="width:99%">
<script type="text/javascript" src="@Model.SessionizeUrl"></script>
</div>
