@page
@model CodeCampster.Web.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
    Layout = null;
}
<div style="width:99%">
<script type="text/javascript" src="@Model.SessionizeUrl"></script>
</div>
