@page
@model CodeCampster.Web.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
    Layout = "Shared/PageLayout";
}

<section class="py-2">
    <div class="container">
        <h6>8:00am - 9:00am Welcome and Keynote (J-100 Auditorium)</h6>
        <h6>11:35am - 12:15pm Lunch (Breezeway)</h6>
        <h6>1:55pm - 2:25pm Ice-Cream Social (Breezeway)</h6>
        <h6>5:45pm - 8pm Attendee celebration (4th Street Bar &amp; Grill, Lake Mary, FL)</h6>
    </div>
</section>
<script type="text/javascript" src="@Model.SessionizeUrl"></script>
