@page
@model CodeCampster.Web.SessionsModel
@{
    ViewData["Title"] = "Sponsors";
    Layout = "Shared/PageLayout";
}
<h1>Sponsors</h1>

<section class="py-5">
    <div class="container">
        <h2>Platinum</h2>
        <img src="/img/sponsors/SeminoleState.png" style="height: 50px;"/>
        <img src="/img/sponsors/Onetug.png" style="height: 50px;"/>
        <h2>Speaker Party</h2>
        <img src="/img/sponsors/NewSignature.png" style="height: 50px;"/>
        <h2>Gold</h2>
        <img src="/img/sponsors/Cybermedics.png" style="height: 50px;">
        <h2>Silver</h2>
        <img src="/img/sponsors/codingblocks.png" style="height: 50px;">
        <img src="/img/sponsors/timcorey.jpg" style="height: 50px;">
        <img src="/img/sponsors/kforce.png" style="height: 50px;">
        <img src="/img/sponsors/SNI.png" style="height: 50px;">
        <img src="/img/sponsors/tews.png" style="height: 50px;">
        <img src="/img/sponsors/PowerDMS.png" style="height: 50px;">
        <h2>Bronze</h2>
        <img src="/img/sponsors/atlanticnet.jpg" style="height: 50px;">
        <img src="/img/sponsors/EPS.png" style="height: 50px;">
        <img src="/img/sponsors/agilethought.png" style="height: 50px;">
        <img src="/img/sponsors/syncfusion.png" style="height: 50px;">
    </div>
</section>
