@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.<br/></br>
        <a asp-area="" asp-controller="Home" asp-action="Index">Orlando Codecamp Home</a>
    </p>
</div>
