@page
@model RegistrationAlmostCompleteModel
@{
    ViewData["Title"] = "Registration Almost Complete";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div>
        <p>
            Your registration is almost complete, check your email to confirm your registration.<br/><br/>
            <a asp-area="" asp-controller="Home" asp-action="Index">Orlando Codecamp Home</a>
        </p>
    </div>
</div>
